#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
ul {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul li{
  padding: 20px;
  text-align: left;
  display: flex;
  gap: 30px;
  border: 2px solid #454545;
}

.todoInput {
  width: 100px;
}
ul div {  
  display: flex;
  justify-content: space-between;
}

.opbtn {
  /* background: color #e5e5e5; */
  gap: 5px;
  border: none;
  border-radius: 1rem;
  background-color: #454545;
  box-shadow:
    -5px -5px 10px rgba(61, 60, 60, 0.5),
    5px 5px 10px rgba(136, 134, 134, 0.12);
  border-radius: 3vh;
  font-size: 10px;
  color: #ffffff;
  border: 3px solid rgba(245, 245, 245, 0.4);
}

/* 
ul li button {
  display: flex;
  padding-left: 30px;
  align-items: center;
  justify-content: center;


  border: none;
  border-radius: 1rem;
  background-color: #1b1212;
  box-shadow: 
  -5px -5px 10px rgba(34, 29, 29, 0.5),
  5px 5px 10px rgba(35, 28, 28, 0.12);
  border-radius: 3vh;
  font-size: 10px;
  color: #ffffff;
  text-shadow: 
    1px 1px 1px rgba(255, 255, 255, 0.8),
   -1px -1px 1px rgba(32, 32, 32, 0.2);
   border: 0.4vh solid rgba(236, 236, 236, 0.4);

} */


.todoList{
  display: flex;
  width: 90vh;
  height: 100vh;

}
